@import 'vars';

@keyframes spin {
  0% {
    transform: rotate(0deg);
    stroke-dashoffset: 66;
  }
  50% {
    transform: rotate(540deg);
    stroke-dashoffset: 314;
  }
  100% {
    transform: rotate(1080deg);
    stroke-dashoffset: 66;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.spinner {
  vertical-align: middle;

  .checkmark {
    stroke: #63bc01;
    stroke-width: 6;
    transition: all 1s;
  }

  .circle {
    stroke: #63bc01;
    stroke-width: 6;
    transform-origin: 50px 50px 0;
    transition: all 1s;
    stroke-dasharray: 500;
  }

  &-loading {
    .checkmark {
      opacity: 0;
    }
    .circle {
      stroke: #4c4c4c;
      stroke-dasharray: 314;
      stroke-dashoffset: 1000;
      animation: spin 3s linear infinite;
    }

    .exclamation {
      opacity: 0;
    }
  }

  &-done {
    .checkmark {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 8s ease-out forwards;
    }

    .circle {
      stroke-dashoffset: 66;
      stroke: #63bc01;
    }

    .exclamation {
      opacity: 0;
    }
  }

  &-error {
    .checkmark {
      opacity: 0;
    }

    .circle {
      stroke-dashoffset: 66;
      stroke: $color-red;
    }

    .exclamation {
      stroke: $color-red;
      fill: $color-red;
      font-size: 5rem;
      animation: draw 8s ease-out forwards;
    }
  }
}
