/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/

@import 'vars', 'icons';

[data-elm-hot="true"] {
  height: inherit;
}


body {
  margin: 0;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-black;
  background: $color-light-gray;
}

input,
button,
select {
  font-family: "Source Sans Pro", sans-serif;
}

button:disabled {
  cursor: not-allowed !important;
  opacity: 50%;
}

button.text {
  text-decoration: underline !important;
  color: $color-link;
  background-color: transparent;
  padding: 0;
  margin: 0 0 0 45%;
  font-size: 0.9em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: underline;
  color: $color-link;
}

header {
  background: $color-blue;
  color: $color-white;
  margin-bottom: 3em;
  display: flex;
  justify-content: center;
}

header button,
header .button {
  background: $color-blue !important;
  border: 1px solid $color-white !important;
  color: $color-white !important;
}

header .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  gap: 1rem;
  flex-grow: 10;
  max-width: $content-width;
}

/* Logo and header container */
header .content>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

header .content .user-info {
  gap: 24px;
}

#logo {
  width: 26px;
  height: 28px;
  background: transparent url("../public/logo.svg") no-repeat -4px 0;
  background-size: 26px 28px;
}

.strikethrough {
  text-decoration: line-through;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 26px;
  font-variant: all-small-caps;
  font-weight: 600;
}

h1 a {
  color: inherit;
  text-decoration: inherit;
}

td input {
  width: min(20em, 90%);
  padding-right: 0;
}

h1 a:hover {
  text-decoration: underline;
}

/*
 * Layout and navigation.
 * The main content and navbar falls in here.
 */
#layout {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: $layout-gap;
}

#layout>* {
  width: $gutter-width;
  flex-grow: 0;
}

nav {
  justify-content: flex-end;
  display: flex;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 10vw;
  gap: 4px;
}

nav li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

nav a {
  color: $color-link;
  text-decoration: underline;
}

nav a:hover {
  color: $color-blue;
}

nav li.active a {
  color: $color-black;
  font-weight: bold;
  text-decoration: none;
}

nav li.indent {
  list-style-type: square;
  list-style-position: inside;
}

nav .submenu-glyph {
  width: 16px;
  height: 16px;
  border: 1px solid $color-white;
  border-top: 0;
  border-right: 0;
  border-radius: 0 0 0 4px;
}

main {
  flex-grow: 100 !important;
  max-width: $content-width !important;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/**
 * Content styles
 */

.error {
  border: 1px solid $color-error-border;
  background: $color-error-background;
  padding: 1rem;
  margin: 0.5rem 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  background: $color-white;
  padding: 1rem;
  width: calc(100% - 2rem);

}

.card .column {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card .row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.wide {
  flex-grow: 1;
  align-items: flex-start;
}

input.deploykey,
input.synchronizeUsersCorrelationID {
  width: 27rem;
}

.card .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.card h2 {
  margin: 0;
  flex-grow: 4;
}

.user-sync-run:not(:first-child) {
  margin-top: 3rem;
}

.card.error {
  background: $color-white;
  border: 1px solid $color-error-border;
  border-radius: 2px;
}

.card.error h2 {
  background: $color-error-background;
  border-bottom: 1px solid $color-error-border;
  font-size: 1.2rem;
  margin: -1rem -1rem 0.5em;
  padding: 0.75rem 1rem;
}

ul.logs {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}

ul.logs li {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-border;
  gap: 0;
  padding: 0.5rem 0;
}

ul.logs li .meta {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.8rem;
  color: $color-off-gray;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.5rem 0 1rem;
}

table.repolist td {
  width: 50%;
}

td,
th {
  text-align: left;
  padding: 0.75rem 0.5rem;
  margin: 0;
  border-bottom: 1px solid $color-border;
  min-width: 24px;
}

table.first-column-wide {
  td:first-child {
    width: 100%;
    padding-left: 0.25rem;
  }
  td:last-child {
    padding-right: 0.25rem;
  }
}


th {
  border-bottom: 2px solid $color-border;
}

form {
  margin: 0;
  padding: 0;
}

form ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

form ul li {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
}

label {
  text-align: left;
  margin: 0.5rem 0 0;
  font-weight: bold;
}

input[type="text"] {
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid $color-gray;
}

input[type="text"]:focus {
  border-color: $color-blue;
}

.checkbox {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  flex-direction: row;
}

.checkbox label {
  order: 9;
  font-weight: normal;
}

thead {
  border-bottom: 2px solid $color-light-gray;
}

table:not(.disable-alternate-background-color) {
  tbody tr:nth-child(even) {
    background: $color-row-gray;
  }

  tbody tr:nth-child(odd) {
    background: $color-white;
  }
}

tbody.meta tr {
  background: inherit;
}

select:disabled {
  color: $color-gray;
  cursor: not-allowed;
  opacity: 50%;
}

select {
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.88rem;
  padding: 0.5em 1em;
  border: 1px solid $color-gray;
  color: $color-black;
  background: $color-white;
}

.button-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin: 0.5rem 0;
}

button,
.button {
  flex-grow: 0;
  padding: 1em;
  background: $color-link;
  border: 0;
  border-radius: 2px;
  color: $color-white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none !important;
  display: flex;
  align-content: space-evenly;
  align-items: center;
  gap: 0.25rem;
  width: auto;
  line-height: 1em;
  font-size: 1rem;
}

button .icon,
.button .icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: top left;
}

.icon.add {
  background-image: url("../public/icons/add.svg");
}

.icon.download {
  background-image: url("../public/icons/download.svg");
}

.icon.copy {
  background-image: url("../public/icons/copy.svg");
}

.icon.cancel {
  background-image: url("../public/icons/cancel.svg");
}

.icon.edit {
  background-image: url("../public/icons/edit.svg");
}

.icon.delete {
  background-image: url("../public/icons/delete.svg");
}

.icon.delete-red {
  background-image: url("../public/icons/delete-red.svg");
}

.icon.refresh {
  background-image: url("../public/icons/refresh.svg");
}

.icon.synchronize {
  background-image: url("../public/icons/synchronize.svg");
}

.icon.locked {
  background-image: url("../public/icons/locked.svg");
}

button.small,
.button.small {
  font-size: 0.88rem;
  padding: 0.5em 0.75em;
  border: 1px solid $color-link;
  color: $color-link;
  background: $color-white;
}

button.transparent,
.button.transparent {
  background: transparent;
  color: $color-link;
  font-weight: normal;
  text-decoration: underline !important;
  border: 0;
}

.button.danger {
  color: $color-red !important;
  border-color: $color-red !important;
}

a.nostyle {
  text-decoration: none !important;
  color: $color-white;
}

button.red,
.button.red {
  background: $color-red;
}

button:hover,
.button:hover {
  text-decoration: underline;
}

/*
.reconcilerConfigured {
    border: 5px solid $color-green;
    padding-left: 5px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.reconcilerNotConfigured {
    border: 5px solid $color-red;
    padding-left: 5px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
 */

h2,
h3,
h4,
h5,
h6 {
  margin: 0.75em 0 0.5em;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0.5rem;
}

h3 {
  font-size: 1.15rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 2em 0 1em;
}

p {
  margin: 0.25em 0;
  line-height: 1.5em;
}

p.secret-help-text {
  font-style: italic;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 43, 54, 0.4);
}

.modal>div {
  border-style: solid;
  border-radius: 2px;
  border-color: $color-white;
  background-color: $color-white;
  height: 30vw;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.modal h3 {
  margin: 0;
}

.server-error-message {
  color: $color-red;
  font-weight: bold;
}

.team-owner {
  font-weight: bold;
}

dt {
  font-weight: 700;
}
