$color-black: #262626;
$color-blue: #00374f;
$color-white: white;
$color-row-gray: #f7f7f7;
$color-red: #a32a17;
$color-error-background: #fde8e6;
$color-error-border: #ba3a26;
$color-light-gray: #f5f5f5;
$color-border: #a0a0a0;
$color-gray: #d1d1d1;
$color-off-gray: #78706a;
$color-green: darkgreen;
$color-link: #0067c5;
$content-width: 60vw;
$gutter-width: 14vw;
$layout-gap: 4vw;
