/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
    height: inherit;
}

:root {
    --black: #262626;
    --blue: #00374f;
    --white: white;
    --red: darkred;
    --light-gray: #f1f1f1;
    --gray: #d1d1d1;
    --green: darkgreen;
    --link: #0067c5;
    --gutter: 2rem;
    --content-width: 45rem;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--black);
    background: var(--white);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: underline;
    color: var(--link);
}

main {
    max-width: var(--content-width);
    margin: 2em auto;
    padding: 0 var(--gutter);
}

header {
    background: var(--blue);
    color: var(--white);
}

header .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    gap: 1rem;
    max-width: var(--content-width);
    margin: 0 auto;
    padding: 0 var(--gutter);
}

/* Logo and header container */
header .content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#logo {
    width: 26px;
    height: 28px;
    background: transparent url("../public/logo.svg") no-repeat -4px 0;
    background-size: 26px 28px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 26px;
    line-height: 26px;
    font-variant: all-small-caps;
    font-weight: 600;
}

h1 a {
    color: inherit;
    text-decoration: inherit;
}

h1 a:hover {
    text-decoration: underline;
}

nav {
    border-bottom: 4px solid var(--light-gray);
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0 auto;
    padding: 0.75rem var(--gutter);
    padding-top: 1em;
    max-width: var(--content-width);
}

nav li {
    margin: 0;
}

nav a {
    background: var(--white);
    color: var(--link);
    padding: 0.75rem 1.25rem;
    text-decoration: none;
    font-size: 1.1rem;
    position: relative;
    border-bottom: 4px solid var(--light-gray);
}

nav a:hover {
    background: var(--light-gray);
    border-color: var(--link);
}

nav li.active a {
    color: var(--black);
    font-weight: bold;
    border-color: var(--link);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.5rem 0 2rem;
}

td, th {
    text-align: left;
    padding: 0.75rem 0.25rem;
    margin: 0;
}

/*td:not(:last-child){
    white-space: nowrap;
}

td:last-child{
    width: 100%;
}*/

form {
    margin: 1rem 0 3rem;
    padding: 0;
}

form ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

form ul li {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 0 1rem;
}

form label {
    text-align: left;
    margin: 0 0 0.5rem;
    font-weight: bold;
}

input[type="text"] {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--gray);
}

input[type="text"]:focus {
    border-color: var(--blue);
}

.checkbox {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    flex-direction: row;
}

.checkbox label {
    order: 9;
    font-weight: normal;
}

thead {
    border-bottom: 2px solid var(--light-gray);
}

tbody tr:nth-child(even) {
    background: var(--light-gray);
}

tbody tr:nth-child(odd) {
    background: var(--white);
}

tbody.meta tr {
    background: inherit
}

tbody.errors {
    background: var(--red);
    color: var(--white);
}

tbody.errors tr:nth-child(even) {
    background: inherit !important;
}

tbody.errors tr:nth-child(odd) {
    background: inherit !important;
}

h3.error {
    background: var(--red);
    color: white;
    padding: 0.25em 0;
}

div.error {
    border: 2px solid var(--red);
    padding: 1rem;
    margin: 1rem 0;
}

select {
    padding: 1em;
    background: var(--link);
    border: 0;
    border-radius: 2px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
    display: inline-block;
    line-height: 1em;
    font-size: 1rem;
}

button, .button {
    padding: 1em;
    background: var(--link);
    border: 0;
    border-radius: 2px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none !important;
    display: inline-block;
    line-height: 1em;
    font-size: 1rem;
}

button.red, .button.red {
    background: var(--red);
}

button:hover, .button:hover {
    text-decoration: underline;
}

/*
.reconcilerConfigured {
    border: 5px solid var(--green);
    padding-left: 5px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.reconcilerNotConfigured {
    border: 5px solid var(--red);
    padding-left: 5px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
 */

h2, h3, h4, h5, h6 {
    margin: 0.75em 0 0.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2em 0 1em;
}

h3 {
    background: var(--blue);
    color: white;
    padding: 0.25em 0;
    font-size: 1.33rem;
    font-weight: bold;
    margin: 2.5em 0 0.75em;
}

h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2em 0 1em;
}

p {
    margin: 0.5em 0;
    line-height: 1.5em;
}

p.secret-help-text {
    font-style: italic;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(33, 43, 54, 0.4);
}


.modal > div {
    border-style: solid;
    border-radius: 3px;
    border-color: white;
    background-color: white;
    height: 30vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.modal h3 {
    margin: 0;
}

.server-error-message {
    color: var(--red);
    font-weight: bold;
}

.team-owner {
    font-weight: bold;
}